    body, canvas {
      margin:0;padding:0;
      width:100%;height:100%;
      display:block;
    }
    #shaderPanel {
      position: fixed;
      width:20px;
      top:10px;bottom:10px;left:10px;
      font-size:10px;
      color:white;
      background-color:rgba(0, 0, 0, 0.66);
      padding:10px;
      border-radius:5px;
      white-space:pre-wrap;
      overflow:hidden;
      opacity:0.1;
      color: #fff0;
      transition: all 0.3s ease-in-out;
    }
    #shaderPanel:hover{
      opacity:1.0;
      width:66.6%;
      color:#ffff;
      overflow:auto;
    }

    #audioControls {
    width:66.6%;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
}

#seekBar {
  flex-grow: 1;
  margin: 0 10px;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  height: 5px;
}

#seekBar::-webkit-slider-thumb,
#seekBar::-moz-range-thumb{
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

#seekBar:hover::-webkit-slider-thumb,
#seekBar:hover::-moz-range-thumb {
  background-color: rgba(255, 255, 255, 0.8);
}

#playStopBtn, #currentTime {
  color: black;
  cursor: pointer;
  background-color:lime;
  border-radius:4px;
  padding:4px;
}
#currentTime{
  background-color:black;
  color: white;
}

#playStopBtn:hover {
  background-color:green;
}
